body {
    background-color: aqua;
    border-style: outset;
    border-width: 5px;
    border-color: blueviolet;
    border-radius: 10px;
    padding: 5px;
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(105, 105, 105);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav a:hover{
    background-color: rgb(7, 7, 7);
}
.navbar li {
    float: left;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gallery img:hover {
    transform: scale(1,1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}